* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 auto;
  width: 1020px;
}

.wrapper_header {
  position: relative;
  display: flex;
  width: 1020px;
  height: 89px;    
  background-color: #2d303a;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  z-index: 1;
  top: 89px;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.wrapper_slider {
  position: relative;
  width: 1020px;
  height: 600px;
  background-color: #f06c64;
}

nav {
  display: flex;
  margin-right: 40px;
  width: 371px;
  margin-top: 10px; 
}

.navigation {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 0.6rem;
  font-weight: 700;
  align-items: center;
  text-decoration: none;
  width:inherit;
  padding: 0;
  list-style-type: none; 
}
.navigation li:first-child {
  list-style-type: none;  
}

.navigation li::after { 
  content: "·"; 
  color: #ffffff;  
  padding: 10px;
}

/*.navigation li:nth-child(even) {
  width: 28px;
  cursor: default;
  color: #494e62;
}

.navigation li:nth-child(odd):hover {  
  cursor: pointer;  


.navigation li {  
  display: inline-block;  
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover {
  color: #f06c64;
}

.navigation {
  user-select: none;
  letter-spacing: -0.4px;
  padding: 0;
  text-align: center;
  margin-top: 32px;
  width: 44%;
  line-height: 6px;
  color: #ffffff;
  font-size: 1.2rem;
  float: right;
  font-weight: 700;
}
*/
.logo {
  letter-spacing: -0.5px;
  line-height: 6px;
  position: relative;
  left: 40px; 
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
}

.logo span {
  color: #f06c64;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.layout-3-column {
  display: flex;
  margin-top: 45px;
}

.service {
  margin: auto;
}

.service__icon {
  margin-top: 2px;
  margin-right: 20px;
  width: 59px;
  height: 59px;
  border-radius: 30px;  
  border: 2px solid #666d89;
}

.icon {  
  display: block;
  margin: auto;
  margin-top: 11px;
}

.icon_pen {   
  background: url("assets/pen.svg") no-repeat;
  width: 33px;
  height: 33px;
}

.icon_star {   
  background: url("assets/star.svg") no-repeat;
  width: 34px;
  height: 32px;
}

.icon_heart {   
  background: url("assets/heart.svg") no-repeat;
  width: 34px;
  height: 30px;
}

.icon_bubble {   
  background: url("assets/bubble.svg") no-repeat;
  width: 34px;
  height: 30px;
}

.icon_lamp {   
  background: url("assets/bulb.svg") no-repeat;
  width: 24px;
  height: 36px;
}

.icon_phone {   
  background: url("assets/phone.svg") no-repeat;
  width: 27px;
  height: 36px;
}

.column {
  padding-right: 20px;
}

.service {
  display: flex;
  margin-bottom: 30px;
}

.service_column_1 {
  width: 32.6%;
}

.service_column_2 {
  width: 32.7%;
}

.service_column_3 {
  width: 32.7%;
}

.service p {
  word-break: break-all;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}

.arrow_left {
  display: block;
  background: url("assets/chev.svg") no-repeat;
  width: 16px;
  height:27px;  
  position: absolute;
  top: 287px;
  left: 42px;
}

.arrow_right {
  display: block;
  background: url("assets/chev.svg") no-repeat;
  width: 16px;
  height:27px; 
  position: absolute;
  top: 287px;
  left: 964px;
  transform: rotate(180deg);
}

.iphones {
  position: absolute;
}

.arrows {
  position: relative;
}

.vertical_iphone {
  position: absolute;
  top: 59px;
  left: 112px;
}

.horizontal_iphone {
  position: absolute;
  top: 180px;
  left: 425px;
}

.our_services-bottom {
  position: absolute;
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
  left: 0px;
  top: 500px;
  z-index: 1;
}

.wrapper_our_services {
  position: relative;
  box-sizing: border-box;
  padding-top: 68px;
  padding-left: 41px;
  color: #666d89;
  width: 1020px;
  height: 506px;
  background-color: #f2f2f2f2;  
}

.slider-bottom {
  z-index: 1;
  top: 600px;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #ea676b;
}

.our_services h1 + p {
  padding-top: 21px;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  font-weight: 300;
  letter-spacing: -0.1px;  
}
