@font-face { 
  font-family: 'Lato';
  src: url(assets/fonts/Lato-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 auto;
  width: 1020px;
}

.wrapper_portfolio {
  padding-left: 40px;
  background-color: #2d303a;
  color: #666d89;
  height: 864px;
}

.portfolio_bottom {
  background-color: #323746;
  height: 6px;
}

.h1_portfolio {
  padding-top: 63px;
  letter-spacing: 0.7px;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  color: #666d89;
}

.p_portfolio {
  padding-top: 27px;
  letter-spacing: -0.2px;
  color: #767e9e;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.portfolio_link {
  display: flex;
  font-size: 1.2rem;
  line-height: 2.0rem;
  padding: 0;  
  padding-top: 17px;
  font-weight: 400;
}

.portfolio_link li {
  list-style-type: none;
  height: 22px;
  border-radius: 5px;
  background-color: #2d303a;
  border: 1px solid #666d89;
  cursor: pointer;
  color: #767e9e;
}

.portfolio_link li:hover {
  border: 1px solid #dedede;
  color: white;
}

.portfolio_link_1 {
  padding-left: 7px;
  margin-left: 1px;
  padding-right: 6px;
  margin-right: 10px;
}

.portfolio_link_2 {
  padding-left: 6px;
  padding-right: 6px;   
  margin-left: 0px;
  margin-right: 10px;
}

.portfolio_link_3 {
  margin-left: 0px;
  padding-left: 6px;
  padding-right: 5px;
  margin-right: 10px;
}

.portfolio_link_4 {
  padding-left: 6px;
  padding-right: 5px;
}

.image_art {
  display: flex;
  margin-top: 19px;
  background-color: #2d303a;
  width: 960px;
  height: 601px;
  flex-wrap: wrap;
  overflow: hidden;
}

.picture {
  display: block;
  width: 220px;
  height: 187px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image_art_1 {
  background-image: url('assets/img_art/art1.png');
  width: 220px;
  height: 187px;
}

.image_art_2 {
  background-image: url('assets/img_art/art2.png');
  width: 220px;
  height: 187px;
}

.image_art_3 {
  background-image: url('assets/img_art/art3.png');
  width: 220px;
  height: 187px;
}

.image_art_4 {
  background-image: url('assets/img_art/art4.png');
  width: 220px;
  height: 187px;
}

.image_art_5 {
  background-image: url('assets/img_art/art5.png');
  width: 220px;
  height: 187px;
}

.image_art_6 {
  background-image: url('assets/img_art/art6.png');
  width: 220px;
  height: 187px;
}

.image_art_7 {
  background-image: url('assets/img_art/art7.png');
  width: 220px;
  height: 187px;
}

.image_art_8 {
  background-image: url('assets/img_art/art8.png');
  width: 220px;
  height: 187px;
}

.image_art_9 {
  background-image: url('assets/img_art/art9.png');
  width: 220px;
  height: 187px;
}

.image_art_10 {
  background-image: url('assets/img_art/art10.png');
  width: 220px;
  height: 187px;
}

.image_art_11 {
  background-image: url('assets/img_art/art11.png');
  width: 220px;
  height: 187px;
}

.image_art_12 {
  background-image: url('assets/img_art/art12.png');
  width: 220px;
  height: 187px;
}

.wrapper_about_us {
  height: 728px;
  padding-left: 40px;
  background-color: #f2f2f2;
  padding-top: 62px;
}

.about_title {  
  color: #666d89;
  font-weight: 900;
  letter-spacing: 0.4px;
  font-size: 3rem;
  line-height: 3rem;
}

.about_text {
  margin-top: 21px;
  font-size: 1.8rem;
  line-height: 3.0rem;
  color: #767e9e;
  font-weight: 300;
  margin-bottom: 45px;
  letter-spacing: -0.1px;
}

.layout-3-column {
  display: flex;
}

.column_1 {
  width:300px;
  margin-right: 19px;
}

.column_2 {
  width:300px;
  margin-right: 21px;
}

.column_3 {
  width:300px;
  margin-right: 20px;
}

.photo_column_1 {
  display:block;
  background-image: url('assets/photo/adam_jensen.svg');
  width: 300px;
  height: 300px;
}

.photo_column_2 {
  display:block;
  background-image: url('assets/photo/desmond_miles.svg');
  width: 300px;
  height: 300px;
}

.photo_column_3 {
  display:block;
  background-image: url('assets/photo/scolara_visari.svg');
  width: 300px;
  height: 300px;
}

.title_photo_column {
  color: #666d89;
  margin-top: 17px;  
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.text_photo_column {
  color: #767e9e;
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: 400;
  letter-spacing: -0.1px;  
}

.social_media_link {
  display:block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.social_media_link:hover {
  cursor: pointer;
}

.social_media {
  display: flex;
  padding-left: 1px;
  padding-top: 24px;
}

.column_3 .social_media {
  padding-left: 0px;
}

.social_Facebook {
  background-image: url('assets/social/facebook.svg');  
}

.social_Google {
  background-image: url('assets/social/google+.svg');
}

.social_Twitter {
  background-image: url('assets/social/twitter.svg');
}

.social_LinkedIn {
  background-image: url('assets/social/linkedin.svg'); 
}

.about_us_bottom {
  background-color: #ffffff;
  height: 6px;
}
